* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}




/* header styles start */
header {
    padding: 15px 0px 15px 0px;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: aqua;
    color: slategray;
    margin: 0px;
    padding: 2px 5px 2px 30px;
    
}

header a {
    text-decoration: none;
    color: aqua
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: right;
}


/* hero styles start */
.hero {
    background-image: url("../images/hero-b.jpg");
    padding: 50px;
    width: 100%;
    background-size: cover;

}

.hero-subtitle {
    width: 20%;
    margin: 0 auto;
    background-color: aqua;
    float: right;
}

.hero-subtitle h3 {
    color: slategray;
}

/* hero styles finish */


.main-wrap {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* "About Me" styles start */



.my-intro {
    background-color: white;
}

.my-intro p {
    flex-wrap: wrap;
    text-align: left;
    font-size: large;
    margin: 0px 45px;
    padding-bottom: 15px;
    padding-top: 20px;
}

/* About Me styles end */

.section-title {
    font-size: 48px;
    color: lightslategray;
    border-right: 3px solid;
    text-align: right;
    margin: 0;
    padding-left: 100px;
    padding-right: 20px;
}

.side-border {
    border-color: lightslategray;
}

.examples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 25px 0;
    padding: 20px 0;
}

.examples > div {
    flex: 0 0 20%;

}

.example > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 50px;
    line-height: 1.1;
    font-size: 4vw;
}


.step {
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Work styles start */
.work {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    flex-basis: calc(50% - 1em);
    min-height: 150px;
    max-height: 150px;
    background-color: yellow;
    padding: 0 0 20px 0;
    margin: 0.5em;
}

.surf-report {
    background-color: pink;
    min-height: 400px;
    flex-basis: 100%;

}

.work-main-img {
    width: 400px;
    height: auto;
    position: relative;
}

.work-secondary-img {
    flex-wrap: wrap;
}

/* Work styles end */

.flex-main {
    /*display: flex;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 15px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contact Me styles start */

.links {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links nav {
    margin: 7px 0;
}

.links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

.links nav ul li a {
    padding: 10px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}